useDynLib(QRM)

importFrom(gsl,psi)
import(Matrix)
import(mvtnorm)
import(numDeriv)
import(timeSeries)

S3method(plot, MPP)
S3method(plot, PP)
S3method(plot, sePP)

export(BiDensPlot,
       cal.beta,
       cal.claytonmix,
       cal.probitnorm,
       dclaytonmix,
       dcopula.AC,
       dcopula.clayton,
       dcopula.gauss,
       dcopula.gumbel,
       dcopula.t,
       dGPD,
       dGEV,
       dghyp,
       dghypB,
       dGumbel,
       dmghyp,
       dmnorm,
       dmt,
       dprobitnorm,
       dsmghyp,
       edf,
       eigenmeth,
       EGIG,
       ElogGIG,
       EMupdate,
       equicorr,
       ESnorm,
       ESst,
       extremalPP,
       findthreshold,
       fit.AC,
       fit.binomial,
       fit.binomialBeta,
       fit.binomialLogitnorm,
       fit.binomialProbitnorm,
       fit.gausscopula,
       fit.GEV,
       fit.GPD,
       fit.mNH,
       fit.mst,
       fit.NH,
       fit.norm,
       fit.POT,
       fit.seMPP,
       fit.sePP,
       fit.st,
       fit.tcopula,
       hillPlot,
       jointnormalTest,
       Kendall,
       MardiaTest,
       MCECM.Qfunc,
       MCECMupdate,
       MEplot,
       momest,
       Pconstruct,
       Pdeconstruct,
       pGEV,
       pGPD,
       pGumbel,
       plotFittedGPDvsEmpiricalExcesses,
       plot.MPP,
       plot.PP,
       plot.sePP,
       plotTail,
       pclaytonmix,
       pprobitnorm,
       qGEV,
       qGPD,
       qGumbel,
       QQplot,
       qst,
       RiskMeasures,
       rAC,
       rACp,
       rBB9Mix,
       rbinomial.mixture,
       rcopula.clayton,
       rcopula.frank,
       rcopula.gauss,
       rcopula.Gumbel2Gp,
       rcopula.GumbelNested,
       rcopula.gumbel,
       rcopula.t,
       rFrankMix,
       rGEV,
       rghyp,
       rghypB,
       rGumbel,
       rclaytonmix,
       rlogitnorm,
       rprobitnorm,
       rstable,
       rtcopulamix,
       rGIG,
       rGPD,
       rmghyp,
       rmnorm,
       rmt,
       seMPP.negloglik,
       sePP.negloglik,
       showRM,
       Spearman,
       stationary.sePP,
       unmark,
       volfunction,
       xiplot,
## Export of defunct functions in QRMlib
       mk.returns,
       aggregateMonthlySeries,
       aggregateQuarterlySeries,
       aggregateSignalSeries,
       aggregateWeeklySeries,
       ConvertDFToTimeSeries,
       plotMultiTS,
       signalSeries,
       symmetrize,
       hessb,
       fit.Archcopula2d,
       besselM3,
       psifunc,
       kurtosisSPlus,
       fit.tcopula.rank,
       fit.GPDb,
       lbeta,
       CovToCor
       )
